/*
! tailwindcss v3.0.12 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
	box-sizing: border-box;
	/* 1 */
	border-width: 0;
	/* 2 */
	border-style: solid;
	/* 2 */
	border-color: #e5e7eb;
	/* 2 */
}

::before,
::after {
	--tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
	line-height: 1.5;
	/* 1 */
	-webkit-text-size-adjust: 100%;
	/* 2 */
	-moz-tab-size: 4;
	/* 3 */
	-o-tab-size: 4;
	tab-size: 4;
	/* 3 */
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
	/* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
	margin: 0;
	/* 1 */
	line-height: inherit;
	/* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
	height: 0;
	/* 1 */
	color: inherit;
	/* 2 */
	border-top-width: 1px;
	/* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
	color: inherit;
	text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		'Liberation Mono', 'Courier New', monospace;
	/* 1 */
	font-size: 1em;
	/* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
	text-indent: 0;
	/* 1 */
	border-color: inherit;
	/* 2 */
	border-collapse: collapse;
	/* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	/* 1 */
	font-size: 100%;
	/* 1 */
	line-height: inherit;
	/* 1 */
	color: inherit;
	/* 1 */
	margin: 0;
	/* 2 */
	padding: 0;
	/* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
	text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
	/* 1 */
	background-color: transparent;
	/* 2 */
	background-image: none;
	/* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
	outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield;
	/* 1 */
	outline-offset: -2px;
	/* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* 1 */
	font: inherit;
	/* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
	margin: 0;
}

fieldset {
	margin: 0;
	padding: 0;
}

legend {
	padding: 0;
}

ol,
ul,
menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
	resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	/* 1 */
	color: #9ca3af;
	/* 2 */
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	opacity: 1;
	/* 1 */
	color: #9ca3af;
	/* 2 */
}

input::placeholder,
textarea::placeholder {
	opacity: 1;
	/* 1 */
	color: #9ca3af;
	/* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role='button'] {
	cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
	cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
	display: block;
	/* 1 */
	vertical-align: middle;
	/* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
	max-width: 100%;
	height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden] {
	display: none;
}

:root {
	background-color: hsla(var(--b1) / var(--tw-bg-opacity, 1));
	color: hsla(var(--bc) / var(--tw-text-opacity, 1));
}

html {
	-webkit-tap-highlight-color: transparent;
}

:root {
	--p: 259 94.4% 51.2%;
	--pf: 259 94.3% 41%;
	--pc: 0 0% 100%;
	--s: 314 100% 47.1%;
	--sf: 314 100% 37.1%;
	--sc: 0 0% 100%;
	--a: 174 60% 51%;
	--af: 174 59.8% 41%;
	--ac: 0 0% 100%;
	--n: 219 14.1% 27.8%;
	--nf: 222 13.4% 19%;
	--nc: 0 0% 100%;
	--b1: 0 0% 100%;
	--b2: 210 20% 98%;
	--b3: 216 12.2% 83.9%;
	--bc: 215 27.9% 16.9%;
	--in: 207 89.8% 53.9%;
	--su: 174 100% 29%;
	--wa: 36 100% 50%;
	--er: 14 100% 57.1%;
	--border-color: var(--b3);
	--rounded-box: 1rem;
	--rounded-btn: 0.5rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0.25s;
	--animation-input: 0.2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--navbar-padding: 0.5rem;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--p: 259 94% 61%;
		--pf: 259 94.4% 51.2%;
		--pc: 0 0% 100%;
		--s: 314 100% 47.1%;
		--sf: 314 100% 37.1%;
		--sc: 0 0% 100%;
		--a: 174 60% 51%;
		--af: 174 59.8% 41%;
		--ac: 0 0% 100%;
		--n: 222 13.4% 19%;
		--nf: 223 13.7% 10%;
		--nc: 0 0% 100%;
		--b1: 219 14.1% 27.8%;
		--b2: 222 13.4% 19%;
		--b3: 223 13.7% 10%;
		--bc: 228 14.3% 93.1%;
		--in: 202 100% 70%;
		--su: 89 61.6% 52%;
		--wa: 54 68.8% 63.5%;
		--er: 0 100% 71.8%;
		--border-color: var(--b3);
		--rounded-box: 1rem;
		--rounded-btn: 0.5rem;
		--rounded-badge: 1.9rem;
		--animation-btn: 0.25s;
		--animation-input: 0.2s;
		--btn-text-case: uppercase;
		--btn-focus-scale: 0.95;
		--navbar-padding: 0.5rem;
		--border-btn: 1px;
		--tab-border: 1px;
		--tab-radius: 0.5rem;
	}
}

[data-theme='light'] {
	--p: 259 94.4% 51.2%;
	--pf: 259 94.3% 41%;
	--pc: 0 0% 100%;
	--s: 314 100% 47.1%;
	--sf: 314 100% 37.1%;
	--sc: 0 0% 100%;
	--a: 174 60% 51%;
	--af: 174 59.8% 41%;
	--ac: 0 0% 100%;
	--n: 219 14.1% 27.8%;
	--nf: 222 13.4% 19%;
	--nc: 0 0% 100%;
	--b1: 0 0% 100%;
	--b2: 210 20% 98%;
	--b3: 216 12.2% 83.9%;
	--bc: 215 27.9% 16.9%;
	--in: 207 89.8% 53.9%;
	--su: 174 100% 29%;
	--wa: 36 100% 50%;
	--er: 14 100% 57.1%;
	--border-color: var(--b3);
	--rounded-box: 1rem;
	--rounded-btn: 0.5rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0.25s;
	--animation-input: 0.2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--navbar-padding: 0.5rem;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
}

[data-theme='dark'] {
	--p: 259 94% 61%;
	--pf: 259 94.4% 51.2%;
	--pc: 0 0% 100%;
	--s: 314 100% 47.1%;
	--sf: 314 100% 37.1%;
	--sc: 0 0% 100%;
	--a: 174 60% 51%;
	--af: 174 59.8% 41%;
	--ac: 0 0% 100%;
	--n: 222 13.4% 19%;
	--nf: 223 13.7% 10%;
	--nc: 0 0% 100%;
	--b1: 219 14.1% 27.8%;
	--b2: 222 13.4% 19%;
	--b3: 223 13.7% 10%;
	--bc: 228 14.3% 93.1%;
	--in: 202 100% 70%;
	--su: 89 61.6% 52%;
	--wa: 54 68.8% 63.5%;
	--er: 0 100% 71.8%;
	--border-color: var(--b3);
	--rounded-box: 1rem;
	--rounded-btn: 0.5rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0.25s;
	--animation-input: 0.2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--navbar-padding: 0.5rem;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
}

[data-theme='cupcake'] {
	--p: 183 47.4% 59%;
	--pf: 183 47.2% 49%;
	--pc: 0 0% 100%;
	--s: 338 71.4% 78%;
	--sf: 338 71.8% 68%;
	--sc: 0 0% 100%;
	--a: 39 84.1% 58%;
	--af: 39 83.7% 48%;
	--ac: 0 0% 100%;
	--n: 280 46.5% 13.9%;
	--nf: 279 46.4% 11%;
	--nc: 0 0% 100%;
	--b1: 24 33.3% 97.1%;
	--b2: 27 22% 92%;
	--b3: 22 14.3% 89%;
	--bc: 280 46.5% 13.9%;
	--in: 207 89.8% 53.9%;
	--su: 174 100% 29%;
	--wa: 36 100% 50%;
	--er: 14 100% 57.1%;
	--border-color: var(--b3);
	--rounded-box: 1rem;
	--rounded-btn: 1.9rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0.25s;
	--animation-input: 0.2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--navbar-padding: 0.5rem;
	--border-btn: 1px;
	--tab-border: 2px;
	--tab-radius: 0.5rem;
}

[data-theme='bumblebee'] {
	--p: 50 94.4% 58%;
	--pf: 50 94.3% 47.8%;
	--pc: 240 33.3% 14.1%;
	--s: 41 74.2% 52.9%;
	--sf: 41 73.6% 43.1%;
	--sc: 0 0% 100%;
	--a: 240 33.3% 14.1%;
	--af: 240 33.3% 10%;
	--ac: 0 0% 100%;
	--n: 240 33.3% 14.1%;
	--nf: 240 33.3% 10%;
	--nc: 0 0% 100%;
	--b1: 0 0% 100%;
	--b2: 0 0% 96.1%;
	--b3: 0 0% 89%;
	--bc: 0 0% 0%;
	--in: 207 89.8% 53.9%;
	--su: 174 100% 29%;
	--wa: 36 100% 50%;
	--er: 14 100% 57.1%;
	--border-color: var(--b3);
	--rounded-box: 1rem;
	--rounded-btn: 0.5rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0.25s;
	--animation-input: 0.2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--navbar-padding: 0.5rem;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
}

[data-theme='emerald'] {
	--p: 141 50% 60%;
	--pf: 141 49.8% 50%;
	--pc: 210 20% 98%;
	--s: 219 96.1% 60%;
	--sf: 219 96.1% 50%;
	--sc: 210 20% 98%;
	--a: 10 81.2% 56.1%;
	--af: 10 81.2% 45.9%;
	--ac: 210 20% 98%;
	--n: 219 20.3% 25.1%;
	--nf: 220 19.5% 15.1%;
	--nc: 210 20% 98%;
	--b1: 0 0% 100%;
	--b2: 210 20% 98%;
	--b3: 0 0% 94.9%;
	--bc: 219 20.3% 25.1%;
	--in: 207 89.8% 53.9%;
	--su: 174 100% 29%;
	--wa: 36 100% 50%;
	--er: 14 100% 57.1%;
	--border-color: var(--b3);
	--rounded-box: 1rem;
	--rounded-btn: 0.5rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0;
	--animation-input: 0;
	--btn-text-case: uppercase;
	--btn-focus-scale: 1;
	--navbar-padding: 0.5rem;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
}

[data-theme='corporate'] {
	--p: 229 95.7% 63.9%;
	--pf: 229 95.7% 53.9%;
	--pc: 233 27.3% 12.9%;
	--s: 215 26.3% 59%;
	--sf: 214 26.1% 48.8%;
	--sc: 233 27.3% 12.9%;
	--a: 154 49% 60%;
	--af: 154 49% 50%;
	--ac: 233 27.3% 12.9%;
	--n: 233 27.3% 12.9%;
	--nf: 240 25% 3.1%;
	--nc: 210 38.5% 94.9%;
	--b1: 0 0% 100%;
	--b2: 210 60% 98%;
	--b3: 210 38.5% 94.9%;
	--bc: 233 27.3% 12.9%;
	--in: 207 89.8% 53.9%;
	--su: 174 100% 29%;
	--wa: 36 100% 50%;
	--er: 14 100% 57.1%;
	--border-color: var(--b3);
	--rounded-box: 1rem;
	--rounded-btn: 0.5rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0;
	--animation-input: 0;
	--btn-text-case: uppercase;
	--btn-focus-scale: 1;
	--navbar-padding: 0.5rem;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
}

[data-theme='synthwave'] {
	--p: 321 69.6% 69%;
	--pf: 321 70.3% 59%;
	--pc: 257 63.2% 17.1%;
	--sf: 197 87.4% 75.1%;
	--s: 197 86.6% 64.9%;
	--sc: 257 63.2% 17.1%;
	--af: 48 89.3% 67.1%;
	--a: 48 89% 57.1%;
	--ac: 257 63.2% 17.1%;
	--n: 253 60.8% 19%;
	--nf: 257 64.3% 11%;
	--nc: 260 60% 98%;
	--b1: 254 59.1% 25.9%;
	--b2: 253 60.8% 19%;
	--b3: 257 64.3% 11%;
	--bc: 260 60% 98%;
	--in: 199 87% 63.9%;
	--su: 168 74.2% 68%;
	--wa: 48 89% 57.1%;
	--er: 352 73.6% 56.9%;
	--border-color: var(--b3);
	--rounded-box: 1rem;
	--rounded-btn: 0.5rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0.25s;
	--animation-input: 0.2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--navbar-padding: 0.5rem;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
}

[data-theme='retro'] {
	font-family: uisecondaryerif, Georgia, Cambria, Times New Roman, Times,
		serif;
	--p: 3 73.8% 76.1%;
	--pf: 3 73.6% 65.9%;
	--pc: 345 5.3% 14.9%;
	--s: 145 27.3% 72%;
	--sf: 145 26.8% 62%;
	--sc: 345 5.3% 14.9%;
	--a: 49 67.2% 76.1%;
	--af: 49 66.7% 65.9%;
	--ac: 345 5.3% 14.9%;
	--n: 42 16.8% 42%;
	--nf: 41 13.1% 23.9%;
	--nc: 45 47.1% 80%;
	--b1: 45 47.1% 80%;
	--b2: 45 37.1% 72%;
	--b3: 42 36% 65.1%;
	--bc: 345 5.3% 14.9%;
	--in: 207 89.8% 53.9%;
	--su: 174 100% 29%;
	--wa: 36 100% 50%;
	--er: 14 100% 57.1%;
	--border-color: var(--b3);
	--rounded-box: 0.4rem;
	--rounded-btn: 0.4rem;
	--rounded-badge: 0.4rem;
	--animation-btn: 0.25s;
	--animation-input: 0.2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--navbar-padding: 0.5rem;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
}

[data-theme='cyberpunk'] {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		Liberation Mono, Courier New, monospace;
	--p: 345 100% 72.9%;
	--pf: 344 100% 67.1%;
	--pc: 0 0% 0%;
	--s: 195 80.4% 70%;
	--sf: 194 65.8% 61%;
	--sc: 0 0% 0%;
	--a: 276 74.3% 71%;
	--af: 276 75.7% 62.9%;
	--ac: 0 0% 0%;
	--n: 57 100% 12.9%;
	--nf: 60 80% 2%;
	--nc: 56 100% 50%;
	--b1: 56 100% 50%;
	--b2: 56 100% 42.9%;
	--b3: 56 100% 36.1%;
	--bc: 0 0% 0%;
	--in: 207 89.8% 53.9%;
	--su: 174 100% 29%;
	--wa: 36 100% 50%;
	--er: 14 100% 57.1%;
	--border-color: var(--b3);
	--rounded-box: 0;
	--rounded-btn: 0;
	--rounded-badge: 0;
	--animation-btn: 0.25s;
	--animation-input: 0.2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--navbar-padding: 0.5rem;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0;
}

[data-theme='valentine'] {
	--p: 353 73.8% 67.1%;
	--pf: 353 73.6% 56.9%;
	--pc: 0 0% 100%;
	--s: 254 86.4% 76.9%;
	--sf: 254 86.9% 67.1%;
	--sc: 0 0% 100%;
	--a: 181 55.6% 70%;
	--af: 181 54.9% 60%;
	--ac: 0 0% 100%;
	--n: 336 42.9% 48%;
	--nf: 340 40.2% 38%;
	--nc: 318 46.4% 89%;
	--b1: 318 46.4% 89%;
	--b2: 315 58.9% 79%;
	--b3: 316 62.3% 72.9%;
	--bc: 344 38.5% 28%;
	--in: 207 89.8% 53.9%;
	--su: 174 100% 29%;
	--wa: 36 100% 50%;
	--er: 14 100% 57.1%;
	--border-color: var(--b3);
	--rounded-box: 1rem;
	--rounded-btn: 1.9rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0.25s;
	--animation-input: 0.2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--navbar-padding: 0.5rem;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
}

[data-theme='halloween'] {
	--p: 32 89.3% 52.2%;
	--pf: 32 88.8% 42%;
	--pc: 180 7.3% 8%;
	--s: 271 45.8% 42%;
	--sf: 271 46% 32%;
	--sc: 0 0% 100%;
	--a: 91 100% 32.9%;
	--af: 91 100% 22.9%;
	--ac: 0 0% 100%;
	--n: 180 3.6% 11%;
	--nf: 180 7.3% 8%;
	--nc: 0 0% 100%;
	--b1: 0 0% 12.9%;
	--b2: 180 3.6% 11%;
	--b3: 180 7.3% 8%;
	--bc: 0 0% 100%;
	--in: 202 100% 70%;
	--su: 89 61.6% 52%;
	--wa: 54 68.8% 63.5%;
	--er: 0 100% 71.8%;
	--border-color: var(--b3);
	--rounded-box: 1rem;
	--rounded-btn: 0.5rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0.25s;
	--animation-input: 0.2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--navbar-padding: 0.5rem;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
}

[data-theme='garden'] {
	--p: 139 16% 42.9%;
	--pf: 137 14.8% 33.1%;
	--pc: 0 0% 100%;
	--s: 97 37.1% 93.1%;
	--sf: 98 36.3% 82.2%;
	--sc: 96 32.5% 15.1%;
	--a: 0 67.7% 93.9%;
	--af: 0 71.1% 85.1%;
	--ac: 0 22% 16.1%;
	--n: 0 3.9% 35.1%;
	--nf: 0 3.7% 15.9%;
	--nc: 0 4.3% 91%;
	--b1: 0 4.3% 91%;
	--b2: 0 5.2% 81%;
	--b3: 0 5.4% 71%;
	--bc: 0 3.2% 6.1%;
	--in: 207 89.8% 53.9%;
	--su: 174 100% 29%;
	--wa: 36 100% 50%;
	--er: 14 100% 57.1%;
	--border-color: var(--b3);
	--rounded-box: 1rem;
	--rounded-btn: 0.5rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0.25s;
	--animation-input: 0.2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--navbar-padding: 0.5rem;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
}

[data-theme='forest'] {
	--p: 141 72% 42%;
	--pf: 141 71.8% 32%;
	--pc: 0 0% 100%;
	--s: 141 74.7% 48%;
	--sf: 141 75.3% 38%;
	--sc: 0 0% 100%;
	--a: 35 69% 52%;
	--af: 35 69.2% 42%;
	--ac: 0 0% 100%;
	--n: 0 9.7% 6.1%;
	--nf: 0 20% 2%;
	--nc: 0 0% 100%;
	--b1: 0 12.2% 8%;
	--b2: 0 9.7% 6.1%;
	--b3: 0 20% 2%;
	--bc: 0 0% 100%;
	--rounded-btn: 0.5rem;
	--in: 202 100% 70%;
	--su: 89 61.6% 52%;
	--wa: 54 68.8% 63.5%;
	--er: 0 100% 71.8%;
	--border-color: var(--b3);
	--rounded-box: 1rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0.25s;
	--animation-input: 0.2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--navbar-padding: 0.5rem;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
}

[data-theme='aqua'] {
	--p: 189 100% 62.9%;
	--pf: 189 100% 52.9%;
	--pc: 0 0% 0%;
	--s: 274 30.9% 56.9%;
	--sf: 274 30.8% 47.1%;
	--sc: 0 0% 100%;
	--a: 47 100% 80%;
	--af: 47 100% 70%;
	--ac: 0 0% 100%;
	--n: 231 77.4% 32.9%;
	--nf: 231 67.6% 29%;
	--nc: 0 0% 100%;
	--b1: 231 88.7% 38%;
	--b2: 231 77.4% 32.9%;
	--b3: 231 67.6% 29%;
	--bc: 0 0% 100%;
	--in: 207 89.8% 53.9%;
	--su: 174 100% 29%;
	--wa: 36 100% 50%;
	--er: 14 100% 57.1%;
	--border-color: var(--b3);
	--rounded-box: 1rem;
	--rounded-btn: 0.5rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0.25s;
	--animation-input: 0.2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--navbar-padding: 0.5rem;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
}

[data-theme='lofi'] {
	--p: 0 0% 50.2%;
	--pf: 0 0% 45.1%;
	--pc: 240 4% 95.1%;
	--s: 0 0% 30.2%;
	--sf: 0 0% 25.1%;
	--sc: 240 4% 95.1%;
	--a: 0 0% 10.2%;
	--af: 0 0% 5.1%;
	--ac: 240 4% 95.1%;
	--n: 240 4% 95.1%;
	--nf: 240 5.9% 90%;
	--nc: 0 0% 30.2%;
	--b1: 0 0% 100%;
	--b2: 0 0% 100%;
	--b3: 0 0% 100%;
	--bc: 0 0% 49%;
	--in: 207 89.8% 53.9%;
	--su: 174 100% 29%;
	--wa: 36 100% 50%;
	--er: 14 100% 57.1%;
	--border-color: #e6e6e6;
	--rounded-box: 0;
	--rounded-btn: 0;
	--rounded-badge: 0;
	--animation-btn: 0;
	--animation-input: 0;
	--btn-text-case: uppercase;
	--btn-focus-scale: 1;
	--navbar-padding: 0.5rem;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0;
}

[data-theme='pastel'] {
	--p: 284 21.6% 80%;
	--pf: 282 21.6% 70%;
	--pc: 0 0% 0%;
	--s: 352 70.5% 88%;
	--sf: 352 69.6% 78%;
	--sc: 0 0% 100%;
	--a: 158 54.6% 81%;
	--af: 158 55.4% 71%;
	--ac: 0 0% 100%;
	--n: 199 43.7% 61%;
	--nf: 199 44% 51%;
	--nc: 0 0% 100%;
	--b1: 0 0% 100%;
	--b2: 210 20% 98%;
	--b3: 216 12.2% 83.9%;
	--bc: 206 3.1% 55.1%;
	--in: 207 89.8% 53.9%;
	--su: 174 100% 29%;
	--wa: 36 100% 50%;
	--er: 14 100% 57.1%;
	--rounded-box: 1rem;
	--rounded-btn: 1.9rem;
	--rounded-badge: 1.9rem;
	--border-color: var(--b3);
	--animation-btn: 0.25s;
	--animation-input: 0.2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--navbar-padding: 0.5rem;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
}

[data-theme='fantasy'] {
	--p: 296 82.8% 25.1%;
	--pf: 296 81.8% 15.1%;
	--pc: 0 0% 100%;
	--s: 200 100% 37.1%;
	--sf: 200 100% 27.1%;
	--sc: 0 0% 100%;
	--a: 31 94.4% 51.2%;
	--af: 31 94.3% 41%;
	--ac: 0 0% 100%;
	--n: 215 27.9% 16.9%;
	--nf: 221 39.3% 11%;
	--nc: 0 0% 100%;
	--b1: 0 0% 100%;
	--b2: 210 20% 98%;
	--b3: 216 12.2% 83.9%;
	--bc: 215 27.9% 16.9%;
	--in: 207 89.8% 53.9%;
	--su: 174 100% 29%;
	--wa: 36 100% 50%;
	--er: 14 100% 57.1%;
	--border-color: var(--b3);
	--rounded-box: 1rem;
	--rounded-btn: 0.5rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0.25s;
	--animation-input: 0.2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--navbar-padding: 0.5rem;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
}

[data-theme='wireframe'] {
	font-family: Chalkboard, comic sans ms, 'sanssecondaryerif';
	--p: 0 0% 72.2%;
	--pf: 0 0% 72.2%;
	--pc: 0 0% 0%;
	--s: 0 0% 72.2%;
	--sf: 0 0% 72.2%;
	--sc: 0 0% 0%;
	--a: 0 0% 72.2%;
	--af: 0 0% 72.2%;
	--ac: 0 0% 0%;
	--b1: 0 0% 100%;
	--b2: 0 0% 93.3%;
	--b3: 0 0% 86.7%;
	--bc: 0 0% 0%;
	--n: 0 0% 92.2%;
	--nf: 0 0% 92.2%;
	--nc: 0 0% 0%;
	--in: 240 100% 50%;
	--su: 120 100% 25.1%;
	--wa: 60 30.2% 50%;
	--er: 0 100% 50%;
	--border-color: #000000;
	--rounded-box: 0.2rem;
	--rounded-btn: 0.2rem;
	--rounded-badge: 0.2rem;
	--animation-btn: 0.25s;
	--animation-input: 0.2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--navbar-padding: 0.5rem;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.2rem;
}

[data-theme='wireframe'] * {
	border-color: var(--border-color) !important;
	--tw-border-opacity: 1 !important;
	--tw-text-opacity: 1 !important;
	--tw-shadow: 0 0 0 1px var(--border-color) !important;
}

[data-theme='black'] {
	--p: 0 0% 100%;
	--pf: 0 0% 100%;
	--pc: 0 0% 0%;
	--s: 0 0% 100%;
	--sf: 0 0% 100%;
	--sc: 0 0% 0%;
	--a: 0 0% 100%;
	--af: 0 0% 100%;
	--ac: 0 0% 0%;
	--b1: 0 0% 0%;
	--b2: 0 0% 20%;
	--b3: 0 0% 30.2%;
	--bc: 0 0% 100%;
	--n: 0 0% 20%;
	--nf: 0 0% 30.2%;
	--nc: 0 0% 100%;
	--in: 240 100% 50%;
	--su: 120 100% 25.1%;
	--wa: 60 100% 50%;
	--er: 0 100% 50%;
	--border-color: var(--b3);
	--rounded-box: 0;
	--rounded-btn: 0;
	--rounded-badge: 0;
	--animation-btn: 0;
	--animation-input: 0;
	--btn-text-case: lowercase;
	--btn-focus-scale: 1;
	--navbar-padding: 0.5rem;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0;
}

[data-theme='luxury'] {
	--p: 0 0% 100%;
	--pf: 0 0% 90.2%;
	--pc: 0 0% 0%;
	--s: 218 54.3% 18%;
	--sf: 219 56.1% 8%;
	--sc: 0 0% 100%;
	--a: 319 21.8% 26.1%;
	--af: 320 22% 16.1%;
	--ac: 0 0% 100%;
	--n: 270 4.3% 9%;
	--nf: 270 2.2% 18%;
	--nc: 37 67.3% 58%;
	--b1: 240 10% 3.9%;
	--b2: 270 4.3% 9%;
	--b3: 270 2.2% 18%;
	--bc: 37 67.3% 58%;
	--in: 202 100% 70%;
	--su: 89 61.6% 52%;
	--wa: 54 68.8% 63.5%;
	--er: 0 100% 71.8%;
	--border-color: var(--b3);
	--rounded-box: 1rem;
	--rounded-btn: 0.5rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0.25s;
	--animation-input: 0.2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--navbar-padding: 0.5rem;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
}

[data-theme='dracula'] {
	--p: 330 100% 85.1%;
	--pf: 330 100% 75.1%;
	--pc: 233 12.1% 12.9%;
	--s: 115 100% 85.1%;
	--sf: 115 100% 75.1%;
	--sc: 233 12.1% 12.9%;
	--a: 60 100% 85.1%;
	--af: 60 100% 75.1%;
	--ac: 233 12.1% 12.9%;
	--n: 245 14.3% 15.1%;
	--nf: 233 12.1% 12.9%;
	--nc: 251 100% 90%;
	--b1: 244 13% 21.2%;
	--b2: 245 14.3% 15.1%;
	--b3: 233 12.1% 12.9%;
	--bc: 251 100% 90%;
	--in: 207 89.8% 53.9%;
	--su: 174 100% 29%;
	--wa: 36 100% 50%;
	--er: 14 100% 57.1%;
	--border-color: var(--b3);
	--rounded-box: 1rem;
	--rounded-btn: 0.5rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0.25s;
	--animation-input: 0.2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--navbar-padding: 0.5rem;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
}

[data-theme='cmyk'] {
	--p: 203 83.3% 60.2%;
	--pf: 203 65.1% 53.9%;
	--pc: 0 0% 0%;
	--s: 335 77.7% 59.6%;
	--sf: 335 59.2% 52.9%;
	--sc: 0 0% 0%;
	--a: 56 100% 59.8%;
	--af: 56 72.2% 52%;
	--ac: 0 0% 0%;
	--n: 0 0% 10.2%;
	--nf: 0 0% 0%;
	--nc: 0 0% 100%;
	--b1: 0 0% 100%;
	--b2: 0 0% 96.1%;
	--b3: 0 0% 92.2%;
	--bc: 0 0% 0%;
	--in: 192 48.4% 52.2%;
	--su: 291 48.5% 38%;
	--wa: 25 84.6% 56.7%;
	--er: 4 80.5% 55.7%;
	--border-color: var(--b3);
	--rounded-box: 1rem;
	--rounded-btn: 0.5rem;
	--rounded-badge: 1.9rem;
	--animation-btn: 0.25s;
	--animation-input: 0.2s;
	--btn-text-case: uppercase;
	--btn-focus-scale: 0.95;
	--navbar-padding: 0.5rem;
	--border-btn: 1px;
	--tab-border: 1px;
	--tab-radius: 0.5rem;
}

*,
::before,
::after {
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-pan-x: ;
	--tw-pan-y: ;
	--tw-pinch-zoom: ;
	--tw-scroll-snap-strictness: proximity;
	--tw-ordinal: ;
	--tw-slashed-zero: ;
	--tw-numeric-figure: ;
	--tw-numeric-spacing: ;
	--tw-numeric-fraction: ;
	--tw-ring-inset: ;
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgb(59 130 246 / 0.5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
	--tw-blur: ;
	--tw-brightness: ;
	--tw-contrast: ;
	--tw-grayscale: ;
	--tw-hue-rotate: ;
	--tw-invert: ;
	--tw-saturate: ;
	--tw-sepia: ;
	--tw-drop-shadow: ;
	--tw-backdrop-blur: ;
	--tw-backdrop-brightness: ;
	--tw-backdrop-contrast: ;
	--tw-backdrop-grayscale: ;
	--tw-backdrop-hue-rotate: ;
	--tw-backdrop-invert: ;
	--tw-backdrop-opacity: ;
	--tw-backdrop-saturate: ;
	--tw-backdrop-sepia: ;
}

.container {
	width: 100%;
}

@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}

@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
}

@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
}

@media (min-width: 1536px) {
	.container {
		max-width: 1536px;
	}
}

@-webkit-keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(1turn);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(1turn);
	}
}

@-webkit-keyframes button-pop {
	0% {
		transform: scale(var(--btn-focus-scale, 0.95));
	}

	40% {
		transform: scale(1.02);
	}

	to {
		transform: scale(1);
	}
}

@keyframes button-pop {
	0% {
		transform: scale(var(--btn-focus-scale, 0.95));
	}

	40% {
		transform: scale(1.02);
	}

	to {
		transform: scale(1);
	}
}

@-webkit-keyframes checkmark {
	0% {
		background-position-y: 5px;
	}

	50% {
		background-position-y: -2px;
	}

	to {
		background-position-y: 0;
	}
}

@keyframes checkmark {
	0% {
		background-position-y: 5px;
	}

	50% {
		background-position-y: -2px;
	}

	to {
		background-position-y: 0;
	}
}

@-webkit-keyframes radiomark {
	0% {
		box-shadow: 0 0 0 12px hsl(var(--b1)) inset,
			0 0 0 12px hsl(var(--b1)) inset, var(--focus-shadow);
	}

	50% {
		box-shadow: 0 0 0 3px hsl(var(--b1)) inset,
			0 0 0 3px hsl(var(--b1)) inset, var(--focus-shadow);
	}

	to {
		box-shadow: 0 0 0 4px hsl(var(--b1)) inset,
			0 0 0 4px hsl(var(--b1)) inset, var(--focus-shadow);
	}
}

@keyframes radiomark {
	0% {
		box-shadow: 0 0 0 12px hsl(var(--b1)) inset,
			0 0 0 12px hsl(var(--b1)) inset, var(--focus-shadow);
	}

	50% {
		box-shadow: 0 0 0 3px hsl(var(--b1)) inset,
			0 0 0 3px hsl(var(--b1)) inset, var(--focus-shadow);
	}

	to {
		box-shadow: 0 0 0 4px hsl(var(--b1)) inset,
			0 0 0 4px hsl(var(--b1)) inset, var(--focus-shadow);
	}
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}
